<nav>
  <a href='/shelters'>Shelters Index</a>
</nav>
<h1>Create New Pet</h1>
<form action="/shelters/<%= @shelter.id %>/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="shelter_id" value="<%= @shelter.id %>">
  <input type="text" name="image"><br/>
  <input type="text" name="name"><br/>
  <input type="text" name="description"><br/>
  <input type="text" name="approximate_age"><br/>
  <select id="sex" name="sex">
    <option value="Female">Female</option>
    <option value="Female">Male</option>
  </select>
  <input type='submit' value="Create Pet"/>
</form>
