* {
  font-family: sans-serif;
}

nav {
  background-color: #393D3F;
  height: 50px;
  width: 100%;
}

a:hover {
  color: #FF5D73
}

nav a {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
  padding: 15px;
  line-height: 50px;
}

header {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

img {
  height: 30%;
  width: 30%;
}

body {
  padding-bottom: 55px;
}

a.pet-name {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 10px;
}

div.shelter-pet-info {
  display: flex;
  flex-direction: column;
}

div.shelter-pet-info img {
  padding: 5px;
}

div.container {
  width: 500px;
  clear: both;
}

div input {
  width: 100%;
  clear: both;
}

footer {
  background-color: #393D3F;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer a {
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 50px;
  padding: 15px;
}
