* {
  font-family: sans-serif;
}

nav {
  background-color: DarkTurquoise;
  opacity: 0.8;
  height: 50px;
}

nav a {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 15px;
  line-height: 50px;
}

header {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

body {
  background-image: url("https://lh3.googleusercontent.com/proxy/VsI3nNDdxKWjukORv9P7C8yetRdpzlletB8npZTEiQI4WJg8M3JyCPTZ7CnnIFqSYdoi2fBa3_TFJlMNP6nhHoXtFBGfTkw");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: LightCyan;
  background-attachment: fixed;
}

img {
  height: 30%;
  width: 30%;
}

a.pet-name {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 10px;
}

div.shelter-pet-info {
  display: flex;
  flex-direction: column;
}

div.shelter-pet-info img {
  padding: 5px;
}

div.container {
  width: 500px;
  clear: both;
}

div input {
  width: 100%;
  clear: both;
}

.delete-button {
}
